.card-container {
    height: 578px;
}

.items-list {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.action-icons {
    display: none;
}

li:hover .action-icons {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-button {
    background: #5c9dff;
    height: 3px;
}
::-webkit-scrollbar-track-piece {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #5c9dff;
}
