.card-container {
    height: 578px;
}

.items-list {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.action-icons {
    display: none;
}

.editable-input {
    border: none;
    background: none;
    border-radius: 0.25rem;
}

.editable-input:focus {
    all: unset;
    padding: 1px;
    text-decoration: underline;
    text-decoration-color: #86b7fe;
    text-decoration-thickness: 2px;
}

li:hover .action-icons {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-button {
    background: #5c9dff;
    height: 3px;
}
::-webkit-scrollbar-track-piece {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #5c9dff;
}
